#classified-top {
	width: 100%;
	text-align: center;
	height: 30px;
	background-color: 
	orange;
	position: fixed;
	z-index: 1000;
	font-weight: bold;
	font-size: 1.5em;
	color: 
	black;
}

#classified-bottom {
	width: 100%;
	text-align: center;
	height: 30px;
	background-color: 
	orange;
	z-index: 1000;
	font-weight: bold;
	font-size: 1.5em;
	color: 
	black;
}

#classified-top.level-0, #classified-bottom.level-0 {
	background-color: green;
}

#classified-top.level-1, #classified-bottom.level-1 {
	background-color: yellow;
}

#classified-top.level-2, #classified-bottom.level-2 {
	background-color: red;
}